
<div id="contenedorPersonajes">
  <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/random-team']" (click)="generarTeam()">Generate a Random Team</button>
</div>

<div id="contenedorBans">
  <h3 *ngIf="championsBan.length === 0">Click to ban a champion</h3>
  <ul *ngIf="championsBan.length !== 0" id="bans">
    <li *ngFor="let bans of championsBan">
      <img [src]=bans.icon>
    </li>
  </ul>
</div>

<!-- Buscador personajes -->
<div id="contenedorBuscador">
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="filterChampions" placeholder="Search champion" aria-label="Recipient's username" aria-describedby="basic-addon2" name="filterChampions">
  </div>
</div>

<!-- Lista de personajes -->
<div id="container">
  <ul>
    <li *ngFor="let champion of this.champions | filter: filterChampions; let i = index">
      <img [src]=champion.icon (click)="banPersonaje(champion)">
    </li>
  </ul>  
</div>